<div class="navbar acrylic">
	<!-- Logo + name -->
	<a class="navbar-header" routerLink="/" (click)="scrollToTop('/')">
		<img src="/icons/icon-192.png" width="48" height="48" />
		<span>Vocando</span>
	</a>

	<div class="navbar-tab-bar-container">
		<dav-tab-bar>
			<dav-tab-bar-item
				[active]="startTabActive"
				(click)="navigateToPage('/')"
			>
				Startseite
			</dav-tab-bar-item>

			<dav-tab-bar-item
				[active]="discoverTabActive"
				(click)="navigateToPage('/discover')"
			>
				Entdecken
			</dav-tab-bar-item>
		</dav-tab-bar>
	</div>

	<div class="navbar-spacer"></div>

	<div class="navbar-icon-buttons-container">
		<dav-icon-button
			[selected]="userButtonSelected"
			(click)="navigateToPage('/user')"
		>
			@if (!userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserRegular"></fa-icon>
			} @else if (userButtonSelected && !dataService.dav.isLoggedIn) {
			<fa-icon [icon]="faCircleUserSolid"></fa-icon>
			} @else if (dataService.dav.isLoggedIn) {
			<img
				[src]="dataService.dav.user.ProfileImage"
				class="profile-image"
				width="28"
				height="28"
			/>
			}
		</dav-icon-button>

		<dav-icon-button
			[selected]="settingsButtonSelected"
			(click)="navigateToPage('/settings')"
		>
			@if (settingsButtonSelected) {
			<fa-icon [icon]="faGearSolid"></fa-icon>
			} @else {
			<fa-icon [icon]="faGearRegular"></fa-icon>
			}
		</dav-icon-button>
	</div>
</div>

<div class="content-container">
	<div class="text-container">
		@for (word of text.split(" "); let i = $index; track i) {
		<span
			[class.highlight]="dictionary[word.replace('.', '')]"
			(click)="onWordClick($event, word.replace('.', ''))"
			>{{ word.replace(".", "") }}</span
		>@if (word.includes('.')) {<span class="dot">.</span>}{{ " " }}
		}
	</div>

	@if (showPopup) {
	<div
		class="popup"
		[style.top.px]="popupPosition.y"
		[style.left.px]="popupPosition.x"
	>
		<div class="popup-content">
			<h3>{{ selectedWord }}</h3>
			<p>{{ dictionary[selectedWord].description }}</p>
		</div>
	</div>
	}
</div>

<div class="bottom-navbar acrylic">
	<dav-navigation-bar>
		<dav-navigation-bar-item
			[active]="startTabActive"
			(click)="navigateToPage('/')"
		>
			@if (startTabActive) {
			<fa-icon slot="icon" [icon]="faHouseSolid"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faHouseRegular"></fa-icon>
			}

			<p slot="label">Startseite</p>
		</dav-navigation-bar-item>

		<dav-navigation-bar-item
			[active]="discoverTabActive"
			(click)="navigateToPage('/discover')"
		>
			@if (discoverTabActive) {
			<fa-icon slot="icon" [icon]="faSparklesSolid"></fa-icon>
			} @else {
			<fa-icon slot="icon" [icon]="faSparklesRegular"></fa-icon>
			}

			<p slot="label">Entdecken</p>
		</dav-navigation-bar-item>
	</dav-navigation-bar>
</div>
